# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
env/
.env
.env.*

# ------------------------------
# Django
# ------------------------------
db.sqlite3
*.log

# Static files (generated)
staticfiles/

# Media files (optional)
media/

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Celery
# ------------------------------
celerybeat-schedule
celerybeat.pid

# ------------------------------
# Misc
# ------------------------------
*.bak
*.swp